<nav class="navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Moodvie</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']">Genres</a></li>
        <li routerLinkActive="active"><a href="#">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="navbar-brand">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>